<br>
<div class="small-12 small-centered columns">
<%= form_for @article, :html => { :multipart => true } do |f| %>
  <fieldset>
  <legend class="text-center" style="font-size: 1.1rem; color:#AAAAAA">Posts</legend>
    <% if @article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@article.errors.count, "error") %> prohibited
        this article from being saved:</h2>
      <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    <% if @article.photo != nil %>
      <p class="text-center">
        <%= image_tag @article.photo.url(:small) %>
      </p> 
    <% end %>
    <label>Photo
    <%= f.file_field :photo %>
    </label>
    <label>Music
    <%= f.file_field :audio %>
    </label>

    <label>Title
      <%= f.text_field :title %></label>
      <div class="text-right" style="font-size: 0.9rem; color: #666666">Leave it BLANK if less than 140 chars.</div>
    
    
    
    <label>Text
      <%= f.text_area :text, rows: 15 %>
    </label>
    <label>Tags
      <%= f.text_field :tag_list,:size=>'60' %>
    </label>
    <p class="text-right" style="margin-top: 30px">
      <%= f.submit " Submit " , class: 'button' %>
    </p>
  </fieldset>
<% end %>
</div>

