<div class="contain-to-grid">
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to image_tag("logo_hori.png", width: 110), root_path %></h1>
    </li>
  </ul>
  <% if user_signed_in? %>

      <span class="name right" style="margin-left: 20px; font-size: large;">
        <i class="fi-torso" style="color:white"></i>
        <%= link_to current_user.name,  user_show_path(id: current_user), {style: "color: white"}%>
      </span>

  <% end %>
  
  <section class="top-bar-section">
      <ul class="left" style="margin-left: 25px">
        <li class="text-center" style="width: 104px"><%= link_to "返回", :back %></li>
      </ul>


    <ul class="right">
        <% if user_signed_in? %>
          <% if current_user.authority == 2 %>
            <li class="text-center" style="width: 104px"><%= link_to "新建", new_article_path %></li>
            <% if @article != nil && @article.id != nil %>
                <li class="text-center" style="width: 104px"><%= link_to "编辑", edit_article_path(@article) %></li>
                <li class="text-center" style="width: 104px"><%= link_to "删除", article_path(@article),
                            method: :delete, data: { confirm: 'Are you sure?' } %></li>
            <% end %>
          <% end %>
        <% else %>
          <li class="text-center" style="width: 104px"><%= link_to "登录", new_user_session_path %></li>
          <li class="text-center" style="width: 104px"><%= link_to "注册", new_user_registration_path %></li>
        <% end %>

    </ul>


  </section>
</nav>
</div>