<%= mp3_player_headers %>

<div class="panel small-12 small-centered columns">
  <div class="row">
  <div class="small-16 small-centered medium-3 medium-centered columns">
    <% if @article.audio_file_name != nil %>
      <%= mp3_player @article.audio.url, width: 81 %>
    <% end %>
  </div>
  </div>
  <p class="text-center"><%= image_tag @article.photo.url %></p>
  <h2 class="text-center"><%= @article.title %></h1>
  <% if @article.title == "" %>    
    <p class="text-center"><%= @article.text %></p>
  <% else %>
    <br>
    <p><%= simple_format @article.text %></p>
  <% end %>
  <br><br>
  <strong>Tags:</strong>
  <% @article.tag_list.each do |info_tag| %>
    #<%= info_tag %>&nbsp
  <% end %>
  <br><br><br>
  <hr />
  <% if @article.comments.empty? %>
    <p style="color:#AAAAAA"><br>No Comments...</p>
  <% end %>
  <%= render @article.comments %>
  <br>
  <%= render "comments/form" %>
</div>

