<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "lilunlilun 2.0" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <% if controller_name == "welcome" %>
      <%= yield %>
    <% else %>
      <%= render 'articles/top' %>
      <br><br>
      <div class="row">
        <%= yield %>
      </div>
      <%= render 'articles/footer' %>
    <% end %>
    <%= javascript_include_tag "application" %>
  </body>

</html>