<h2 class="text-center">Edit My Account</h2>
<div class="panel small-10 small-centered columns">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="row collapse">
      <div class="small-5 columns">
        <span class="prefix">Email</span>
      </div>
      <div class="small-11 columns">
        <%= f.email_field :email, autofocus: true %>
      </div>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <div class="row collapse">
      <div class="small-5 columns">
        <span class="prefix">Name</span>
      </div>
      <div class="small-11 columns">
        <%= f.text_field :name %>
      </div>
    </div>
    <div class="row collapse">
      <div class="small-5 columns">
        <span class="prefix">Password</span>
      </div>
      <div class="small-11 columns">
        
        <%= f.password_field :password, autocomplete: "off", placeholder: "Leave it blank if u don't wanna change" %>
      </div>
    </div>

    <div class="row collapse">
      <div class="small-5 columns">
        <span class="prefix">Pwd Confirmation</span>
      </div>
      <div class="small-11 columns">
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>
    </div>

    <div class="row collapse">
      <div class="small-5 columns">
        <span class="prefix">Current Pwd</span>
      </div>
      <div class="small-11 columns">
        <%= f.password_field :current_password, autocomplete: "off", placeholder: "Need current pwd to confirm your changes" %>
      </div>
    </div>

    <p class="text-right" style="margin-top: 30px">
      <%= f.submit " Update " , class: 'button' %>
      <br>
      <%= render "users/shared/links" %>
    </p>
  <% end %>
</div>

